.somosQuem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 6rem;
}

.somosQuem h1 {
font-size: 48px;
font-weight: bold;
}

.somosQuem p {
font-size: 24px;
text-align: center;
margin-left: 10rem;
margin-right: 10rem;
}
